@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body,
html {
  font-family: "Microsoft YaHei";
  height: 100%;
}
.btn {
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: #fff;
  cursor: pointer;
  outline: none;
}
.modal_box {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.modal {
  width: 400px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: #fff;
}
.marsklayer {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: 0;
  opacity: .2;
  filter: alpha(opacity=20);
}
.modal-header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  box-sizing: border-box;
  display: table;
}
.modal-header h5 {
  font-weight: bold;
  float: left;
  font-size: 16px;
}
.modal-header a {
  color: red;
  float: right;
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
}
.modal-main {
  padding: 20px 10px;
}
.modal-main p {
  line-height: 2;
}
.modal-footer {
  text-align: right;
  border-top: 1px solid #ddd;
  padding: 10px 0 ;
}
.modal-footer a {
  padding: 10px;
  cursor: pointer;
}
