@charset "utf-8";
*{
    margin:0;
    padding:0;
}
ul {
  list-style:none;  
}
.tab {
    border:1px solid #aaa;
    width: 600px;
    margin:0 auto;
}
.tab-header{
    border-bottom:1px solid #aaa;
    width: 100%;
    display: flex;
    justify-content:space-between;

}
.tab-header li {
    border-left: 1px solid #aaa;
    flex-grow:1;
    text-align: center;
    padding:5px 0 ;
    cursor: pointer;
}
.tab-header li:first-child {
    border-left: none;
}
.tab-header li.active{
    background: #eee;
}
.tab-container li {
    height: 300px;
    display: none;
}
.tab-container li.active {
    display: block;
}